@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  --white0: rgba(255, 255, 255, 1);
  --white0_t70: rgba(255, 255, 255, 1);
  --black0: rgba(36, 36, 36, 1);
  --grey0: rgba(132, 132, 132, 1);
  --grey1: rgba(164, 164, 164, 1);
  --grey2: rgba(189, 189, 189, 1);
  --grey3: rgba(216, 216, 216, 1);
  --grey4: rgba(239, 239, 239, 1);
  --grey5: rgba(242, 242, 242, 1);
  --green0: rgba(0, 140, 78, 1);
  --green1: rgb(12, 166, 97, 1);
  --green2: rgba(0, 140, 78, 0.24);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--white0);
  color: var(--black0);
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;

  font-size: 12px;
  @media screen and (min-width: 800px) {
    font-size: 16px;
  }

  a {
    color: var(--black0);
    text-decoration: none;
  }
}
