/* NanumMyeongjo */

@font-face {
  font-family: "NanumMyeongjo";
  src: url("../assets/fonts/NanumMyeongjo.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "NanumMyeongjo";
  src: url("../assets/fonts/NanumMyeongjoBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
