.error-404-page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.6rem 0 3rem;

  > .image {
    width: 40%;
    opacity: 0.3;
  }

  > .message {
    width: 100%;
    color: var(--grey0);
    font-size: 1.6rem;
    text-align: center;
  }

  > .link-to-home {
    padding: 0.7rem 2rem;
    border: 1px solid var(--grey2);
    border-radius: 24px;
    font-size: 1.3rem;
    text-align: center;
    transition: text-shadow 0.2s, box-shadow 0.2s;

    @media screen and (min-width: 800px) {
      &:hover {
        box-shadow: 0px 0px 6px var(--grey3);
        text-shadow: 1px 1px 3px var(--grey3);
      }
    }
  }
}
