.post-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  > .post-list-item {
    padding: 2.4rem 0;
    border-bottom: 1px solid var(--grey3);

    > a > article {
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      transition: transform 0.4s;

      @media screen and (min-width: 800px) {
        &:hover {
          transform: translateY(-4px);

          > header > .responsive-thumbnail-wrapper {
            > .content > .thumbnail {
              transform: scale(1.03);
            }
          }
        }
      }

      > header {
        > .responsive-thumbnail-wrapper {
          position: relative;
          width: 100%;
          overflow: hidden;
          margin-bottom: 1.5rem;
          border: 1px solid var(--grey5);
          border-radius: 12px;

          > .padding {
            padding-top: 50%;
          }

          > .content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            > .thumbnail {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform 0.4s;
            }
          }
        }

        > .title {
          margin: 0;
          font-size: 1.6rem;
        }

        > .published-at {
          margin: 0.8rem 0;
          color: var(--grey2);
          font-size: 0.9rem;
        }
      }

      > section {
        > p {
          margin: 0;
          color: var(--grey1);
          font-size: 1.1rem;
        }
      }
    }
  }
}
